<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>

        <title>DSCodex</title>
        <link rel="icon" type="image/png" href="../static/images/favicon.PNG"/>
    </head>

    <body>
        
        {% extends "template.html" %}
        {% block content %}
               
        <div style="text-align: center;">
            <h5>Submit your csv file</h5> <br>
        
            <div class="form-center">
                <form method="POST" action="" enctype="multipart/form-data">
                    <p><input class="custom-file" type="file" name="file"></p>
                    <p><input class="btn" type="submit" value="Submit"></p>
                </form>
            </div>
        </div>
                
        <br><br>
            
        </div>

        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
        
        <script>

            var clipboard = new ClipboardJS(".btn");

            clipboard.on("success", function(){
                M.toast({
                    html:"copied successfully",
                    classes:"green"
                })
            });

            clipboard.on("error", function(){
            M.toast({
                html:"copy action failed",
                classes:"red"
                })
            });
   
        </script>


    
          

        {% endblock %}

    </body>
</html>


                            